name: Checks

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Checks
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Build
        run: make
      - name: Unit Tests
        run: make test-unit
      - name: Integration Tests
        run: make test-integration

